/* ----------------------------------------------------------------------------- */
/* IMPORTS */
/* ----------------------------------------------------------------------------- */

/* Importations des fichiers SCSS externes */
@import 'abstracts/variables';    /* Variables globales (couleurs, espacements, etc.) */
@import 'abstracts/mixins';       /* Mixins globales (fonctions SCSS réutilisables) */
@import 'abstracts/colors';       /* Couleurs globales */

/* Importations de styles de base */
@import 'base/base';              /* Styles de base pour les éléments HTML */
@import 'base/normalize';         /* Normalisation des styles par défaut du navigateur */
@import 'base/reset';             /* Réinitialisation des styles de base du navigateur */

/* Importations des thèmes */
@import 'Themes/theme-light.module.scss'; /* Thème rétro */
@import 'Themes/theme-dark.module.scss';  /* Thème sombre */

/* ----------------------------------------------------------------------------- */
/* ROOT SETTINGS */
/* ----------------------------------------------------------------------------- */

/* Définition de la taille de la police de base pour faciliter les conversions en rem */
html {
  font-size: 62.5%;  /* 1rem = 10px */
}

/* ----------------------------------------------------------------------------- */
/* VARIABLES CSS */
/* ----------------------------------------------------------------------------- */

/* Couleurs principales */
:root {
  --primary-color: #{$darkGrey};
  --secondary-color: #{$primeColorProgressBar};
  --accent-color: #{$primeColor};
}

/* Couleurs neutres */
:root {
  --light-gray: #{$lightGray};           /* Utilisé pour les paragraphes */
  --very-light-gray: #{$verylightgray};  /* Utilisé pour les titres et boutons */
  --white: #{$White};                    /* Couleur blanche */
}

/* Couleurs supplémentaires */
:root {
  --btn-text-color: #64d8ff;
  --btn-border-color: #64d8ff;
  --greenFluo-d: #00ff00;
  --pinkFluo-d: #ff00ff;
  --purpleFluo-d: #6464ff;
  --yellowFluo-d: #ffff00;
  --greenFluo-l: #008300;
  --pinkFluo-l: #ff0000;
  --purpleFluo-l: #0000ba;
  --yellowFluo-l: #ff7300;
}

/* Polices */
:root {
  --title-font-stack: 'Roboto', sans-serif;
  --title2-font-stack: 'Oswald', sans-serif;
}

/* ----------------------------------------------------------------------------- */
/* TYPOGRAPHIE */
/* ----------------------------------------------------------------------------- */

/* Famille de polices par sélecteur */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title2-font-stack);
}

a, p, span, div, body {
  font-family: var(--title-font-stack);
}

/* ----------------------------------------------------------------------------- */
/* SCROLLBAR STYLING */
/* ----------------------------------------------------------------------------- */

/* La barre de défilement en entier */
::-webkit-scrollbar {
  width: 18px; /* Largeur de la barre de défilement */
}

/* La piste (la partie sur laquelle la poignée se déplace) */
::-webkit-scrollbar-track {
  background: $darkGrey; /* Couleur de fond de la piste */
}

/* La poignée (la partie que vous pouvez déplacer) */
::-webkit-scrollbar-thumb {
  background: #17181B; /* Couleur de fond de la poignée */
}

/* Au survol ou lors du clic sur la poignée */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de fond de la poignée au survol */
}

/* ----------------------------------------------------------------------------- */
/* LAYOUT GLOBAL */
/* ----------------------------------------------------------------------------- */

/* Conteneur de défilement personnalisé */
[data-scroll-container] {
  min-height: 100vh;
}

/* Layout pour une grille Masonry */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Décalage de la gouttière */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* Taille de la gouttière */
  background-clip: padding-box;
}

/* Espacement des éléments dans la grille Masonry */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

/* Désactivation du scroll */
.no-scroll {
  overflow: hidden;
 
}

/* ----------------------------------------------------------------------------- */
/* VARIABLES SCSS POUR LES RAYONS DE BORDURE */
/* ----------------------------------------------------------------------------- */

$radius-xs: 0.4rem;
$radius-std: 1.6rem;
$radius-lg: 1.6rem;
