@import "../../../styles/abstracts/mixins";
 
 
 /* AboutSection.module.scss */

 .aboutPage{

 }
 .aboutMe {

  @include breakpoint-down('sm') {
    font-size: 1vh;
   
 
   }


}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: center;
  height: 100vh;
  @include breakpoint-down('sm') {
    flex-direction: column;
    margin-top: 5px;
    height: auto;
   }
   @include breakpoint-up('sm') {
    flex-direction: row;
 
   }

}
.title1 {

  @include breakpoint-down('sm') {
    font-size: 5vh !important;
    
   
   }

}

.aboutMe__Title {
  display: block;
  font-family: var(--title-font-stack);
  font-weight: 100;
  line-height: 3.3rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  padding-right:5rem;
  @include breakpoint-down('sm') {
    text-align: center;
    padding-right:0rem;
    font-size: 2.9vh;
    line-height: 0.9em;
    margin: 0 10px;
    margin-bottom: 10px;
    
   }

}
.punch{
  color:var(--titleScript);
  font-size: 6rem;
  writing-mode: vertical-rl; /* Positionne le texte verticalement */
  transform: 180deg; /* Fait pivoter le texte de 180 degrés */

}
.titleWrap{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  @include breakpoint-down('sm') {
   flex-direction: column;
   
  }
}

.TS{
  display: flex;
  flex-direction: column;
}

.aboutMe__Title.open {

padding-right: 5rem;
}
.aboutMe__Explain{
  font-family: var(--title-font-stack);
  
  font-weight: var(--textweight);
  font-size: 2rem;
  text-align: justify;
  line-height: 2.8rem;
  margin-bottom: 20px;
  padding-right:10rem;
  @include breakpoint-down('sm') {
    font-size: 2.5vh;
    line-height: 1.2em;
    padding-right:0rem;
    margin-bottom: -20px
  
   }
  
}
.rightContent .aboutMe__Explain{
 padding-right: 20rem;

 @include breakpoint-down('sm') {
  padding-right: 0rem;
  margin: 0 20px;
 }
  
}
.titleBig{ 
  font-family: var(--title-font-stack);
  font-size: 15rem;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: -50px;
  color:var(--titleScript);
  
}

.title{
  font-size: 4rem;
  margin-bottom: 2rem;
  
}
  
.aboutPage h1 {
  color: var(--accent-color);
  text-align: left;
  font-size: 70px;
  font-family: var(--title2-font-stack);
  text-transform: uppercase;
  margin-bottom: 40px;
  @include breakpoint-down('sm') {
    text-align: center;
    margin-bottom: 10px;
   }
}




.aboutPage li {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.aboutPage ul {
  list-style: inside square;
}

.contactMe {
  text-align: center;
  margin-top: 40px;
}



/* Adaptez le sélecteur ci-dessous au nom exact de la classe générée par votre composant PrimaryButton */
.primaryButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primaryButton:hover {
  background-color: #0056b3;
}
/* about.module.css */
/* about.module.css */
.socialIcons {
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: -15px;
@include breakpoint-down('sm') {
  
  justify-content: center;
 }
}
.socialIcons a {
display: flex; /* S'assure que les éléments a sont également flexibles */
align-items: center;
justify-content: center;
width: 100%; /* S'assure que a occupe tout l'espace du li parent */
height: 100%; /* S'assure que a occupe tout l'espace du li parent */
}


.socialIcons li {
position: relative;
display: block;
color: #666;
font-size: 30px;
height: 60px;
width: 60px;
background: var(--backgroundSideBar);
line-height: 60px;
border-radius: 10px; /* Coins arrondis pour un look carré */
margin: 15px 15px;
cursor: pointer;
transition: .5s;
text-align: center;
@include breakpoint-down('sm') {
  height: 40px;
  width: 40px;
  justify-content: center;
 }
}

.socialIcons li:before {
position: absolute;
content: '';
top: 0;
left: 0;
height: inherit;
width: inherit;
border-radius: 10px; /* Coins arrondis pour correspondre au li */
transform: scale(.9);
z-index: -1;
transition: .5s;
}
.socialIcons i {
  line-height: 2; /* Ou une autre valeur adaptée à ton design */
}

/* Styles spécifiques pour chaque réseau social */
.socialIcons li:nth-child(1):before { background: #4267B2; }
.socialIcons li:nth-child(2):before { background: #1DA1F2; }
.socialIcons li:nth-child(3):before { background: #E1306C; }
.socialIcons li:nth-child(4):before { background: #2867B2; }
.socialIcons li:nth-child(5):before { background: #ff0000; }

/* Styles pour le hover */
.socialIcons li:hover:before { filter: blur(3px); transform: scale(1.2); }
.socialIcons li:nth-child(1):hover:before { box-shadow: 0 0 15px #4267B2; }
.socialIcons li:nth-child(2):hover:before { box-shadow: 0 0 15px #1DA1F2; }

.objectivesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
 
}
.visionSection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-70px); }
  to { opacity: 1; transform: translateY(0); }
}

.AspirationSection{
  height: 50vh;

  margin-top: 20vh;
  @include breakpoint-down('sm') {
    margin-top: 7vh;
    height: 60vh;
    margin:20px;
    margin-top: 14vh;
 
  }
}
.AspirationSection h2{
  font-size: 10vh;
  text-transform: uppercase;

  @include breakpoint-down('sm') {
    font-size: 4.5vh;
    text-align: center;

 
  }
}
.AspirationWrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
 text-align: center;
 @include breakpoint-down('sm') {
 flex-direction: column;
  align-items: center;
}
}

.AspirationWrap h2{
  font-size: 4.5vh;
  margin-bottom: 20px;
 }
.wrapper {
  animation: fadeIn 1.5s ease-out forwards;

}

.AspirationSection .aboutMe__Explain{
  width: 60%;
  @include breakpoint-down('sm') {
    width: auto;
    margin: 10px;
   }
}

.travelSection{

 

}
.travelSection__wrapper{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 120px;
  margin-right: 40px;
  font-size: 3rem;
  text-align: left;
  opacity: 0;
  animation: slideInFromLeft 1s ease-out forwards;
  animation-delay: 0.5s;
  
  @include breakpoint-down('sm') {
    padding-left: 0px;
    margin:  0 20px;
 
  }

}

.travelSection__adventureWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;

  @include breakpoint-down('sm') {
    flex-direction: column;
  }
}
.travelSection__adventure{
  
    margin: 40px 0;
}
.travelSection__adventureHeader{
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
  @include breakpoint-down('sm') {
    line-height: 1.6;
    margin: 20px 20px;
  }

}
.travelSection__explain{
  opacity: 0;

  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 4.5s;
  font-size: 2.5vh;
    background: var( --MenuCoverSideBar );
    padding: 30px;
    border-radius: 1em;
    box-shadow: var(--BoxShadowIconSocial);
  
line-height: 1.5em;
  
  @include breakpoint-down('sm') {
    margin-top: 0px;
    text-align: justify;
  
    font-weight: 300;
    line-height: 1.6;
  }
}

.travelSection__title{
  font-size: 18vh;
  font-family: var(--title2-font-stack) !important;
  line-height: 12vh;
  
  text-transform: uppercase; 
  @include breakpoint-down('sm') {
    font-size: 9vh;
    line-height: 6vh;
    text-align: center;
   
  }

}
.travelSection__adventureTitle{

  color:var(--titleScript);
  font-size: 4rem;
 

}
.travelSection__adventureProjectName{
  font-family: var(--title2-font-stack) !important;
  font-size: 10rem;
}
.travelSection__adventureDescription{
  font-size: 2.5vh;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 15px;
  @include breakpoint-down('sm') {
   font-size: 2.5vh;
   margin-top: 0px;
  }
}
.travelSection__adventureWrapper .logoImage {
  margin-right: 20px; 
  width: 300px;
  height: 300px;
  object-fit: contain;
  @include breakpoint-down('sm') {
    margin-right: 0px;
    width: 200px;
  height: 200px;
  }
}

/* Animation de la section "Mes Voyages" */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: fadeInAnimation 1s ease forwards 2s; /* Ajoute un délai de 2 secondes */
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}