@import "../../../styles/abstracts/mixins";
 
 
 /* AboutSection.module.scss */
 .aboutPage {

 

}
.wrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-between;
  align-items: center;
  height: 100vh;
  @include breakpoint-down('xxs') {
    flex-direction: column;
   }
}

.aboutMe__Title {
  display: block;
  font-family: var(--title-font-stack);
  font-weight: 100;
  line-height: 3.3rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  padding-right:5rem;

}
.punch{
  color:var(--titleScript);
  font-size: 6rem;
  writing-mode: vertical-rl; /* Positionne le texte verticalement */
  transform: rotate(180deg); /* Fait pivoter le texte de 180 degrés */

}
.titleWrap{
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  @include breakpoint-down('xs') {
   flex-direction: column;
 
  }
}

.TS{

}

.aboutMe__Title.open {

padding-right: 5rem;
}
.aboutMe__Explain{
  font-family: var(--title-font-stack);
  
  font-weight: var(--textweight);
  font-size: 2rem;
  text-align: justify;
  line-height: 2.8rem;
  margin-bottom: 20px;
  padding-right:10rem;
}
.rightContent .aboutMe__Explain{
 padding-right: 20rem;
  
}
.titleBig{ 
  font-family: var(--title-font-stack);
  font-size: 15rem;
  font-weight: bold;
  text-align: right;
  text-transform: uppercase;
  margin-bottom: -50px;
  color:var(--titleScript);
  
}

.title{
  font-size: 4rem;
  margin-bottom: 2rem;
  
}
  
.aboutPage h1 {
  color: var(--accent-color);
  text-align: left;
  font-size: 70px;
  font-family: var(--title2-font-stack);
  text-transform: uppercase;
  margin-bottom: 40px;
}




.aboutPage li {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 20px;
}

.aboutPage ul {
  list-style: inside square;
}

.contactMe {
  text-align: center;
  margin-top: 40px;
}



/* Adaptez le sélecteur ci-dessous au nom exact de la classe générée par votre composant PrimaryButton */
.primaryButton {
  background-color: #0070f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primaryButton:hover {
  background-color: #0056b3;
}
/* about.module.css */
/* about.module.css */
.socialIcons {
display: flex;
align-items: center;
justify-content: flex-start;
margin-left: -15px;
}
.socialIcons a {
display: flex; /* S'assure que les éléments a sont également flexibles */
align-items: center;
justify-content: center;
width: 100%; /* S'assure que a occupe tout l'espace du li parent */
height: 100%; /* S'assure que a occupe tout l'espace du li parent */
}


.socialIcons li {
position: relative;
display: block;
color: #666;
font-size: 30px;
height: 60px;
width: 60px;
background: var(--backgroundSideBar);
line-height: 60px;
border-radius: 10px; /* Coins arrondis pour un look carré */
margin: 15px 15px;
cursor: pointer;
transition: .5s;
text-align: center;
}

.socialIcons li:before {
position: absolute;
content: '';
top: 0;
left: 0;
height: inherit;
width: inherit;
border-radius: 10px; /* Coins arrondis pour correspondre au li */
transform: scale(.9);
z-index: -1;
transition: .5s;
}
.socialIcons i {
  line-height: 2; /* Ou une autre valeur adaptée à ton design */
}

/* Styles spécifiques pour chaque réseau social */
.socialIcons li:nth-child(1):before { background: #4267B2; }
.socialIcons li:nth-child(2):before { background: #1DA1F2; }
.socialIcons li:nth-child(3):before { background: #E1306C; }
.socialIcons li:nth-child(4):before { background: #2867B2; }
.socialIcons li:nth-child(5):before { background: #ff0000; }

/* Styles pour le hover */
.socialIcons li:hover:before { filter: blur(3px); transform: scale(1.2); }
.socialIcons li:nth-child(1):hover:before { box-shadow: 0 0 15px #4267B2; }
.socialIcons li:nth-child(2):hover:before { box-shadow: 0 0 15px #1DA1F2; }

.objectivesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
.visionSection {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;

  &.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-70px); }
  to { opacity: 1; transform: translateY(0); }
}

.wrapper {
  animation: fadeIn 1.5s ease-out forwards;

}

.travelSection{

 

}
.travelSection__wrapper{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 120px;
  font-size: 3rem;
  text-align: left;
  opacity: 0;
  animation: slideInFromLeft 1s ease-out forwards;
  animation-delay: 0.5s;
}

.travelSection__adventureWrapper{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;

}
.travelSection__adventure{
  
    margin: 40px 0;
}
.travelSection__adventureHeader{
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;


}
.travelSection__explain{
  opacity: 0;
  margin-top: -40px;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 4.5s;
  

}

.travelSection__title{
  font-size: 15rem;
  font-family: var(--title2-font-stack) !important;
  
  text-transform: uppercase; 
  

}
.travelSection__adventureTitle{

  color:var(--titleScript);
  font-size: 4rem;
 

}
.travelSection__adventureProjectName{
  font-family: var(--title2-font-stack) !important;
  font-size: 10rem;
}
.travelSection__adventureDescription{
  margin-top: 15px;
}
.travelSection__adventureWrapper .logoImage {
  margin-right: 20px; /* Espacement entre le logo et le texte */
  width: 300px;
  height: 300px;
  object-fit: contain;
}

/* Animation de la section "Mes Voyages" */
@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate {
  animation: fadeInAnimation 1s ease forwards 2s; /* Ajoute un délai de 2 secondes */
}

@keyframes fadeInAnimation {
  from { opacity: 0; }
  to { opacity: 1; }
}