@import "../../../styles/abstracts/mixins";

.objectivesSection {

  .titleBig {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 2s ease, opacity 1s ease;
    font-family: var(--title2-font-stack);
    font-size: 18rem;
    font-weight: bold;
    text-align: right;
    line-height: 16rem;
    text-transform: uppercase;
    margin-bottom: -20px;
    color: var(--titleScript);
    z-index: -5;

    &.slide-in {
      opacity: 1;
      transform: translateX(0);
    }

    @include breakpoint-down('xxs') {
      font-size: 9vh;
      line-height: 10vh;
      margin-bottom: -10px;
     
    }
  }

  .punch {
    opacity: 0;
    transform: translateY(100%);
    transition: transform 2.5s ease, opacity 1s ease;
    z-index: -5;
    color: var(--titleScript);
    font-size: 6.8rem;
    writing-mode: vertical-rl; /* Positionne le texte verticalement */
    transform: rotate(180deg); /* Fait pivoter le texte de 180 degrés */
    font-family: var(--title2-font-stack);

    &.slide-in {
      opacity: 1;
      transform: translateY(0);
    }

    @include breakpoint-down('xxs') {
      font-size: 4vh;
    }
  }

  .objectivesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

    @include breakpoint-down('xxs') {
      margin-right: 15px;
      flex-direction: row;
  
    }
  }
}

.objectivesSection {
  display: flex;
  padding-top: 40px;
  gap: 20px;
  align-items: flex-end;
  @include breakpoint-down('xxs') {
    gap: 0px;
  }
}
