/* AspirationsAccordion.module.scss */

/* Style pour l'accordéon */
.accordion {
    background-color: transparent;
    border-radius: 8px;
  }
  
  /* Style pour chaque élément de l'accordéon */
  .accordionItem {
    background-color: #333;
    color: #eaeaea;
    padding: 1.2rem 1.5rem;
    border-bottom: 1px solid #444;
    display: flex;
    flex-direction: column;
  }
  
  /* S'assurer que les styles de titre sont appliqués */
  .accordionTitle {
    font-weight: bold !important;
    color: #ffffff !important; /* Couleur du texte du titre */
    font-size: 1.1rem !important;
    background-color: #444 !important;
    padding: 0.75rem 1rem !important;
    border-radius: 5px !important;
    margin-bottom: 0.5rem !important;
  }
  
  /* Contenu de l'accordéon */
  .accordionContent {
    color: #cccccc;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #222;
    padding: 0.75rem 1rem;
    border-radius: 5px;
  }
  
  /* Ajuster les styles des éléments d'interface par défaut de NextUI */
  .accordionItem h2 {
    all: unset; /* Réinitialiser tous les styles par défaut */
  }
  
  .accordionItem button {
    all: unset; /* Réinitialiser tous les styles par défaut du bouton */
    display: block;
    width: 100%;
  }
  