.navigation {
  display: flex;
  position: sticky;
  justify-content: center; // Centre tout le contenu de la navigation
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 40px;
  color: black !important;
  padding: 0 120px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}




.navList {
  display: flex;
  justify-content: center;
  width: 100%; // Prend la largeur totale pour un centrage correct
  padding-left: 0; // Supprime le padding ajouté précédemment
}

.navList li {
  margin: 0 16px;
}

.link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
