@import "@/styles/abstracts/colors";
@import "@/styles/abstracts/variables";
@import "/styles/abstracts/mixins";


.drawer {
  position: fixed; /* Fixé sur la page */
  top: 0;
  right: -350px; /* Caché hors de l'écran à droite */
  height: 100vh; /* Prend toute la hauteur visible de l'écran */
  width: 350px; /* Largeur du drawer */
  background: var(--MenuCoverSideBar);
  z-index: 1000; /* S'assure que le drawer reste au-dessus des autres éléments */
  transition: right 0.6s ease; /* Transition fluide pour l'ouverture/fermeture */
}

.drawer.open {
  right: 0; /* Quand le drawer est ouvert, il se place à droite */
}

.drawer__content {
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.drawer.open .drawer__content {
  opacity: 1;
  transition: opacity 0.3s ease 0.4s; /* Légère temporisation pour l'affichage du contenu */
}
.drawer__closeButton{
  font-size: 24px;
  border: none;
  color: var(--MenuCoverSideBarCloseButton);
  background-color: #00000000;
  cursor: pointer;
  transition: color 0.2s ease;
}