@import "styles/abstracts/mixins";

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 350px; /* Largeur fixe du drawer */
  background: var(--SetupCoverSideBar);
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transform: translateX(100%); /* Drawer est hors de l'écran par défaut */
  transition: transform 0.6s ease; /* Transition sur la translation (déplacement) */

  @include breakpoint-down('xm') {
    width: 100vw; /* Pleine largeur pour mobile */
  }

  /* Drawer ouvert */
  &.open {
    transform: translateX(0); /* Drawer ramené à sa position initiale */
  }

  &__content {
    padding: 20px;
    opacity: 0; /* Le contenu commence invisible */
    transition: opacity 0.3s ease; /* Transition de l'opacité */
  }

  /* Lorsque le drawer est ouvert, le contenu devient visible */
  &.open &__content {
    opacity: 1;
    transition: opacity 0.3s ease 0.4s; /* Délai pour l'opacité après l'ouverture du drawer */
  }

  /* Lorsque le drawer commence à se fermer, le contenu disparaît */
  &.closing &__content {
    opacity: 0;
    transition: opacity 0.2s ease; /* Le contenu disparaît rapidement lors de la fermeture */
  }

  &__closeButton {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
  }
}

