
.imageOverlay {
  position: fixed;
  left: 584px;
  top: 42px;

  width: 55%;
  z-index: -2;
  }



  
  .underlay {
    width: 99%;
    height: 99%;
    object-fit: contain;
   
    opacity: var(--opacity);



  }

  
  
  .underlay2 {
   
 
    transform-origin: center;
    width: 99%;
    height: 99%;
    object-fit: contain;
    
    transform: translateY(-16px);
        opacity: 0.0;
  }

