.imageOverlay {
  position: fixed;
  left: 500px; /* Position fixe stable */
  top: 0; /* Fixe à 0 pour éviter tout mouvement vertical */
  width: 50vw; /* Utilisation de vw pour stabiliser la largeur, peu importe la scrollbar */
  z-index: -2;
}

.underlay {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Ajuste l'image sans la déformer */
  opacity: var(--opacity);
}

/* Désactive les effets de scroll lorsque le drawer est ouvert */
.noScrollEffect {
  pointer-events: none;
  transform: none !important;
  transition: none !important;
}
