@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";

.wrapper{

  @media (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: center;

   
  }
}

.title{
    font-size: 160px;
    color: var(--titleScript);
    text-align: center;
  margin-bottom: 10rem;
  @media (max-width: 750px) {
    font-size: 40px;

   
  }
}


.competencesWeb h2 {
    margin-bottom: 6rem;
    text-align: center;
    font-size: 28px;
    @media (max-width: 750px) {
      font-size: 22px;
      margin-bottom: 3rem;
    }
}

.competencesWeb {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    @media (max-width: 750px) {
      display: flex;
      flex-direction: column;
      align-items: center;
     
     
    }
}
.competencesWeb ul {
    list-style: none;

  }
  
  
  .competencesWeb li {
   font-size: 20px;
    margin-bottom: 20px;
  }
.competencesWeb li strong{
    text-transform: uppercase;
    @media (max-width: 750px) {
      text-align: center;
      font-size: 18px;
    }
   }

   .domaines em{
 
    font-size: 18px;
    font-weight: 200;
   
   }


   .domaines,
   .developpement {
     width: 45%;
     @media (max-width: 750px) {
      width: 90%;
      margin-bottom: 4rem;
    }
 
     
     
   }
 

.title2 {
    color: var(--animatedText);
    position: relative;
    font-size: $font-title-xl;
    margin-top: -9.3rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    @media (max-width: 750px) {
      font-size: 28px;
      margin-top: -1.2rem;
      
    }
}

.animate {
    animation: fadeInAnimation 1s ease forwards 2s; /* Ajoute un délai de 2 secondes */
  }
  
  @keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  
  }
  

 


  .progressBar:nth-child(1) {
    animation-delay: 1.1s;
  }

  .progressBar {
    background-color: #4f4f51;
    border-radius: 5px;
    height: 30px;
   
    margin-bottom: 25px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 0 5px rgba(0,0,0,.5);
  }

  .progress {
    background-color: #f58f7c;
    height: 100%;
    opacity: 1;
    transition: width 1s ease-in-out; /* Animation de transition de la largeur */
  }
  
  .progress[data-width] {
    opacity: 1;
  }

  
    .progress span {
        color: #2b2c30;
        font-size: 2rem;
        font-weight: 500;
        margin-left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
  }
  


