@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

/* Main profile section styling */
.profileSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
  text-align: center;
  margin-top: auto;
  animation: fadeIn 1.5s ease-out forwards;

  /* Responsive adjustments for large screens */
  @include breakpoint-down('xl') {

    padding-top: 6%;
  }

  /* Responsive adjustments for medium screens (tablets) */
  @include breakpoint-down('lg') {

    padding-top: 8%;
  }

  /* Responsive adjustments for smaller screens (mobiles) */
  @include breakpoint-down('sm') {
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
  
  }

  /* Adjustments for very large screens (monitors 4K or ultrawide) */
  @include breakpoint-up('xxl') {
    padding-top: 6%;
    margin-bottom: 12rem;
  }
}

/* Profile content container */
.profileSection__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  width: 100%;

  @include breakpoint-down('xl') {
    align-items: center;
    justify-content: flex-start;
  }

  @include breakpoint-down('lg') {
    align-items: center;
 
    justify-content: flex-start;
  }

  @include breakpoint-down('sm') {
    align-items: center;

    justify-content: flex-start;
  }
}

/* Profile image container */
.profileSection__image {
  flex: 1;
  height: auto; /* Adjust height automatically */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90%;
    height: auto;
    border-radius: 40px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .5); /* Add subtle shadow */

    @include breakpoint-down('xl') {
      width: 85%;
    }

    @include breakpoint-down('lg') {
      width: 80%;
    }

    @include breakpoint-down('sm') {
      width: 45%;
    }

    @include breakpoint-down('xs') {
      width: 70%;
    }

    @include breakpoint-down('xxs') {
      width: 78%;
    }
  }
}


/* Profile first name and last name styling */
.profileSection__fname,
.profileSection__name {
  text-transform: uppercase; /* Uppercase text */
  line-height: 100%;
  margin: 0;
  padding: 0;
}

/* First name styling */
.profileSection__fname {
  color: var(--profileNameHome);
  font-size:5vw;
  font-weight: 300;

  @include breakpoint-down('xl') {
    font-size:5vw;
  }

  @include breakpoint-down('lg') {
    font-size:5vw;
  }

  @include breakpoint-down('sm') {
    font-size:6vw;
  }
}

/* Last name styling */
.profileSection__name {
  color: var(--accent-color);
  font-size:8vw;
  font-weight: 700;
  margin-top: -25px;

  @include breakpoint-down('xl') {
    font-size:12vw;
    margin-top: -22px;
  }

  @include breakpoint-down('lg') {
    font-size:12vw;
    margin-top: -15px;
    margin-bottom: -25px;
  }

  @include breakpoint-down('sm') {
    font-size:10vw;
    margin-top: -10px;
    margin-bottom: -20px;
    z-index: 2111;
  }
  @include breakpoint-down('xs') {
    font-size:15vw;
    margin-top: -10px;
    margin-bottom: -20px;
  }
}

/* Animated text container styling */
.profileSection__animatedContainer .text {
  text-transform: uppercase;
  font-size:2vw;

  @include breakpoint-down('xl') {
    font-size:2vw;
  }

  @include breakpoint-down('lg') {
    font-size:2vw;
  }

  @include breakpoint-down('sm') {
    font-size:4vw;
  }
}

/* Animated text styling */
.profileSection__animatedText {
  font-size:2vw;
  margin-top: 2rem;
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-decoration-color: var(--accent-color);
  text-underline-offset: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;

  @include breakpoint-down('xl') {
    font-size:2vw;
  }

  @include breakpoint-down('lg') {
    font-size:2vw;
  }

  @include breakpoint-down('sm') {
    font-size:4vw;
    text-underline-offset: 0.2em;
  }
}

/* General text styling */
.text {
  display: inline-block;
  color: var(--profileNameHome);
  font-size: $font-lg;
  font-weight: 500;
  margin-right: 1.8rem;
  margin-top: 2.5rem;

  @include breakpoint-down('xl') {
    margin-right: 1em;
    font-size:5vw;
  }

  @include breakpoint-down('lg') {
    margin-right: 1em;
    font-size:5vw;
  }

  @include breakpoint-down('sm') {
    margin-right: 0.5em;
    font-size:1vw;
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-70px); /* Start with offset for slide effect */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End with no offset */
  }
}
@media screen and (orientation: landscape) and (max-width: 767px) {
  .profileSection {
    flex-direction: row;
  

  }
  .profileSection__content{
   flex: none;
  
  }


}