@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

/* ----------------------------------------------------------------------------- */
/* SECTION PRINCIPALE DU PROFIL */
/* ----------------------------------------------------------------------------- */
.profileSection {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;  /* Centrage vertical */
  align-items: center;       /* Centrage horizontal */
  height: 100vh;
  margin-bottom: $spacing-xl;
  text-align: center;
  margin-top: auto;
  animation: fadeIn 1.5s ease-out forwards;
  margin-left: 1px;

  /* Adaptation réactive pour les petits écrans (mobiles) */
  @include breakpoint-down('sm') {
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 100vh;           
   padding-top: 10vw;
  }
}

/* ----------------------------------------------------------------------------- */
/* CONTENU DU PROFIL */
/* ----------------------------------------------------------------------------- */
.profileSection__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  width: 100%;

  /* Ajout des styles pour les différentes tailles d'écran */
  @include breakpoint-down('xl') {
    align-items: center;
    justify-content: flex-start;
  }
  @include breakpoint-down('lg') {
    align-items: center;
    justify-content: flex-start;
  }
  @include breakpoint-down('sm') {
    align-items: center;
    justify-content: flex-start;
  }
}

/* ----------------------------------------------------------------------------- */
/* IMAGE DE PROFIL */
/* ----------------------------------------------------------------------------- */
.profileSection__image {
  flex: 1;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 90%;
    height: auto;
    border-radius: $radius-xl;
    box-shadow: 2px 0 5px rgba(0, 0, 0, .5);

    @include breakpoint-down('xl') {
      width: 85%;
    }
    @include breakpoint-down('lg') {
      width: 80%;
    }
    @include breakpoint-down('sm') {
      width: 45%;
    }
    @include breakpoint-down('xs') {
      width: 70%;
    }
    @include breakpoint-down('xxs') {
      width: 90%;
    }
  }
}

/* ----------------------------------------------------------------------------- */
/* NOM ET PRÉNOM DU PROFIL */
/* ----------------------------------------------------------------------------- */
.profileSection__fname,
.profileSection__name {
  text-transform: uppercase;
  line-height: 100%;
  margin: 0;
  padding: 0;
}

/* Prénom du profil */
.profileSection__fname {
  color: var(--profileNameHome);
  font-size: $font-title-lg;
  font-weight: 300;

  @include breakpoint-down('xl') {
    font-size: $font-title-md;
  }

  @include breakpoint-down('lg') {
    font-size: $font-title-md;
  }

  @include breakpoint-down('sm') {
    font-size: $font-title-xs;
  }
}

/* Nom du profil */
.profileSection__name {
  color: var(--accent-color);
  font-size: $font-titlePush-md;
  font-weight: 700;
  margin-top: $spacing-neg-md;

  @include breakpoint-down('xl') {
    font-size: $font-titlePush-xs;
    margin-top: $spacing-neg-sm;
  }

  @include breakpoint-down('lg') {
    font-size: $font-titlePush-xs;
    margin-top: $spacing-neg-sm;
    margin-bottom: $spacing-neg-lg;
  }

  @include breakpoint-down('sm') {
    font-size: $font-title-lg;
    margin-top: $spacing-neg-xs;
    margin-bottom: $spacing-neg-sm;
    z-index: 2111;
  }
  
  @include breakpoint-down('xs') {
    font-size:$font-title-xl;
    margin-top: $spacing-neg-xs;
    margin-bottom: $spacing-neg-md;
  }
}
/* ----------------------------------------------------------------------------- */
/* TEXTE GÉNÉRAL */
/* ----------------------------------------------------------------------------- */
.text {
  display: inline-block;
  color: var(--profileNameHome);
  font-size: $font-lg;
  font-weight: 500;
  margin-right: $spacing-xs;
  margin-top: $spacing-lg;

  @include breakpoint-down('xl') {
    margin-right: $spacing-sm;
    font-size: $font-md;
  }

  @include breakpoint-down('lg') {
    margin-right: $spacing-sm;
    font-size: $font-md;
  }

  @include breakpoint-down('sm') {
    margin-right: $spacing-xs;
    font-size: $font-sm;
  }
}

/* ----------------------------------------------------------------------------- */
/* TEXTE ANIMÉ */
/* ----------------------------------------------------------------------------- */
.profileSection__animatedText {
  font-size: $font-md;
  margin-top: $spacing-lg;
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: .2rem;
  text-decoration-color: var(--accent-color);
  text-underline-offset: $spacing-xxxs;
  font-weight: 700;
  text-transform: uppercase;
  

  @include breakpoint-down('xl') {
    font-size: $font-sm;
  }

  @include breakpoint-down('lg') {
    font-size: $font-sm;
  }

  @include breakpoint-down('sm') {
    font-size: $font-xs;
    text-underline-offset: 0.2em;
  }
}

/* ----------------------------------------------------------------------------- */
/* CONTAINER DE TEXTE ANIMÉ */
/* ----------------------------------------------------------------------------- */
.profileSection__animatedContainer .text {
  text-transform: uppercase;
  font-size: $font-md;

  @include breakpoint-down('xl') {
    font-size: $font-md;
  }

  @include breakpoint-down('lg') {
    font-size: $font-sm;
  }

  @include breakpoint-down('sm') {
    font-size: $font-xs;
  }
}

/* ----------------------------------------------------------------------------- */
/* KEYFRAMES D'ANIMATION (FADE-IN) */
/* ----------------------------------------------------------------------------- */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-70px); /* Départ avec un décalage pour l'effet de glissement */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Terminaison sans décalage */
  }
}

/* ----------------------------------------------------------------------------- */
/* MEDIA QUERIES PERSONNALISÉES */
/* Orientation paysage sur les petits écrans */
@media screen and (orientation: landscape) and (max-width: $breakpoint-sm) {
  .profileSection {
    flex-direction: row;
    padding-top: 0;
  }
  .profileSection__content {
    flex: none;
   font-size: $font-title-xxl;
  }
  .profileSection__name {
   font-size: $font-title-xxl;
  }
  .profileSection__animatedContainer .text {
    font-size: $font-md;

  }
  .profileSection__animatedText { 
    font-size: $font-md;
  }
  .profileSection__animatedContainer{
height: auto;

  }
}
