@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.section{
   
    margin: 10rem 0rem;
    @include breakpoint-down('lg') {
      margin: 10rem 2rem;
    }
}

.techno {

  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  width:auto;
  height: auto; 
  text-transform: uppercase ;
  color: #fff;
  cursor: pointer;
}
.techno:hover {
  /* Votre effet de survol ici, par exemple : */
  background-color: darken(#64d8ff, 10%);
}

.aboutSeparator{

    border: 1px solid var(--accent-color) ;
    margin-bottom: 10rem;
}

.container h2{
  font-size: 4.4rem;

}

.embla__slide{
    display: block;
    cursor: pointer;

}



.embla__slideBackground {
    position: relative;
    height: var(--slide-height);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    border-radius: 1.8rem;
    padding-left: 10px;
   
    transition: opacity 0.3s ease;
    opacity: 1; 
  }
  
  .embla__slideBackground::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3); /* Assombrir l'image de fond */
    border-radius: 1.8rem;
    z-index: 12;
  }
  .embla__slideContent link{
    color: #fff;
  }

  .embla__slideContent {
    z-index: 3; /* S'assurer que le contenu est par-dessus le filtre */
    color: white;
    text-align: center; /* Centrer le texte */
    position: relative;
    z-index: 12;
  }
  
  .embla__slideContent h2{
    text-align: left;
    font-size: $font-lg;
  }

  .embla__slideContent p{
    text-align: left;
    font-size: $font-xs;
    margin-bottom: 1rem;
  }

  
  .embla__slide:hover .embla__slideBackground::before {
    background: rgba(0, 0, 0, 0.1);
  }

  .embla__slideContent h2, .embla__slideContent div {
    transition: color 0.3s ease;
  }
  
  .embla__slide:hover .embla__slideContent h2, .embla__slide:hover .embla__slideContent div {
    color: #fff; 
  }

