@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.section {
  margin: 10rem 0rem;

  @include breakpoint-down('lg') {
    margin: 10rem 2rem;
  }
}

.techno {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  width: auto;
  height: auto;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.techno:hover {
  background-color: darken(#64d8ff, 10%);
}

.aboutSeparator {
  border: 1px solid var(--accent-color);
  margin-bottom: 10rem;
}

.container h2 {
  font-size: 4.4rem;
}

.embla__slide {
  display: block;
  cursor: pointer;
}

.slideContent_title {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5rem; /* Ajuste l'espacement sous le h2 */
}

.embla__slideBackground {
  position: relative;
  height: var(--slide-height);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 1.8rem;
  padding-left: 10px;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.embla__slideBackground::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 1.8rem;
  z-index: 12;
}

.embla__slideContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 3;
  color: white;
  text-align: left;
  position: relative;
  z-index: 12;
  flex-grow: 0; /* Empêche l'extension de la hauteur */
  flex-shrink: 1; /* Permet au contenu de se réduire si nécessaire */
  max-height: 100%; /* S'assurer qu'il ne dépasse pas son conteneur parent */

  h2 {
    font-size: $font-lg;
    margin: 0;
    padding: 0;
   
  }

  .technologiesList__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .technologiesList__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }
}

.embla__slideContent p {
  text-align: left;
  font-size: $font-xs;
  margin-bottom: 1rem;
}

.embla__slide:hover .embla__slideBackground::before {
  background: rgba(0, 0, 0, 0.1);
}

.embla__slideContent h2,
.embla__slideContent div {
  transition: color 0.3s ease;
}

.embla__slide:hover .embla__slideContent h2,
.embla__slide:hover .embla__slideContent div {
  color: #fff;
}
