/* ----------------------------------------------------------------------------- */
/* IMPORTS : Importation des fichiers SCSS abstraits (couleurs, variables, mixins) */
/* ----------------------------------------------------------------------------- */
@import "../../../styles/abstracts/colors";
@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

/* ----------------------------------------------------------------------------- */
/* STYLES GÉNÉRAUX DE LA SECTION */
/* ----------------------------------------------------------------------------- */

.section {
  margin: 10rem 0;

  @include breakpoint-down('lg') {
    margin: 10rem 2rem; /* Ajout des styles pour les différentes tailles d'écran */
  }
}

/* ----------------------------------------------------------------------------- */
/* TECHNOLOGIES : Styles associés aux technologies dans le portfolio */
/* ----------------------------------------------------------------------------- */

.techno {
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: darken(#64d8ff, 10%);
  }
}

/* ----------------------------------------------------------------------------- */
/* SÉPARATEUR : Ligne de séparation utilisée dans la section à propos */
/* ----------------------------------------------------------------------------- */

.aboutSeparator {
  border: 1px solid var(--accent-color);
  margin-bottom: 10rem;
}

/* ----------------------------------------------------------------------------- */
/* STYLES DU CONTAINER ET DES TITRES */
/* ----------------------------------------------------------------------------- */

.container h2 {
  font-size: 4.4rem;
}

/* ----------------------------------------------------------------------------- */
/* CAROUSEL : Styles pour le slider Embla et les slides */
/* ----------------------------------------------------------------------------- */

.embla__slide {
  display: block;
  cursor: pointer;
}

.embla__slideBackground {
  position: relative;
  height: var(--slide-height);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-radius: 1.8rem;
  padding-left: 10px;
  transition: opacity 0.3s ease;
  opacity: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.8rem;
    z-index: 12;
  }
}

/* Animation au hover de la slide */
.embla__slide:hover .embla__slideBackground::before {
  background: rgba(0, 0, 0, 0.1);
}

/* ----------------------------------------------------------------------------- */
/* CONTENU DES SLIDES */
/* ----------------------------------------------------------------------------- */

.embla__slideContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 10px;
  z-index: 12;
  color: white;
  text-align: left;
  position: relative;
  flex-grow: 0; /* Empêche l'extension de la hauteur */
  flex-shrink: 1; /* Permet au contenu de se réduire si nécessaire */
  max-height: 100%; /* Limite la hauteur max */

  h2 {
    font-size: $font-lg;
    margin: 0;
    padding: 0;
  }

  .technologiesList__container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .technologiesList__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }
}

.embla__slideContent p {
  text-align: left;
  font-size: $font-xs;
  margin-bottom: 1rem;
}

/* ----------------------------------------------------------------------------- */
/* EFFET HOVER SUR LE CONTENU DES SLIDES */
/* ----------------------------------------------------------------------------- */

.embla__slideContent h2,
.embla__slideContent div {
  transition: color 0.3s ease;
}

.embla__slide:hover .embla__slideContent h2,
.embla__slide:hover .embla__slideContent div {
  color: #fff;
}

/* ----------------------------------------------------------------------------- */
/* DRAWER : Contenu et animations pour le drawer (affichage des détails des projets) */
/* ----------------------------------------------------------------------------- */

.drawerContent {
  opacity: 1;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.drawerContent__Title {
  text-align: right;
  margin-bottom: 2vh;
}

.drawerContent__Description {
  font-size: 2vh;
  line-height: 2.2vh;
  text-align: justify;
}

.DrawerTechno_separator {
  border: none;
  height: 1px;
  background: var(--drawerSeparator);
  margin: 1rem 0;
  display: block;
}

/* ----------------------------------------------------------------------------- */
/* DÉTAILS DU PROJET DANS LE DRAWER */
/* ----------------------------------------------------------------------------- */

.projectDetails h4 {
  font-size: 2vh;
  margin-bottom: 2vh;
}

.projectDetails p {
  font-size: 1.8vh;
}

.projectDetails__Link {
  font-size: 1.5vh;
  font-weight: bold;
  margin-left: 1vh;
  color: var(--TextColorButtonAfter);
  text-transform: uppercase;

  &:hover {
    color: var(--accent-color);
  }
}

/* ----------------------------------------------------------------------------- */
/* IMAGE DU PROJET DANS LE DRAWER */
/* ----------------------------------------------------------------------------- */

.drawerImageContainer {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.drawerImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  border-radius: 10px;
  margin-bottom: 2vh;
}

/* ----------------------------------------------------------------------------- */
/* ANIMATIONS FADE-IN/FADE-OUT */
/* ----------------------------------------------------------------------------- */

.fadeIn {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fadeOut {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* ----------------------------------------------------------------------------- */
/* BOUTON D'INFORMATION SUPPLÉMENTAIRE */
/* ----------------------------------------------------------------------------- */

.moreInfoButton {
  text-align: center;
}
