@import "../../../styles/abstracts/mixins";

.socialMediaWrapper{  
    display: flex;
    flex-direction: column;
 
 
}

.socialMediaIcons {
  display: flex;
  align-items: center;
  @include breakpoint-down('xs') {
    flex-direction: row;
  }


}

.socialMediaIconsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.icon {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background: #fff;
  margin: 10px 40px ;
  text-align: center;

  line-height: 100px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 5px 10px 20px rgba(150, 150, 150, 0.3);
  transition: all 0.3s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: row;
  color: inherit;
  text-decoration: none;
  @include breakpoint-down('xs') {

  }

  svg {
    width: 30px; /* Taille personnalisée de l'icône SVG */
    height: 30px; /* Assurez-vous que la hauteur est également définie */
  }

  &:hover {
    width: 150px;
    cursor: pointer;
    justify-content: space-evenly;
    color: #fff;
  }
  svg {
    width: 20px; /* Taille personnalisée de l'icône SVG au survol */
    height: 20px; /* Ajuster la taille pour le survol si nécessaire */
  }

  &:hover span {
    display: block;
  }

  i {
    transition: color 0.3s ease;
  }

  span {
    display: none;
    font-size: 18px;
    color: #fff;
    text-align: center;
  }



  &.fb .fa-facebook-f {
    color: #1A6ED8;
  }

  &.fb:hover {
    background: #1A6ED8;
  }

  &.ig .fa-instagram {
    color: #E4405F;
  }

  &.ig:hover {
    background: #E4405F;
  }

  &.yt .fa-youtube {
    color: #FE0000;
  }

  &.yt:hover {
    background: #FE0000;
  }
  
  }
  .followersCount{
    @include breakpoint-down('xs') {
      font-size: 2vh;
    }
}



