@import "../../../styles/abstracts/mixins";

.visionSection {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease, transform 2s ease;
    transition-delay: 0.8s;
    @include breakpoint-down('xs') {
      margin-top: 5em;
      
    }
  
    &.fade-in {
      opacity: 1;
      transform: translateY(0);
      @include breakpoint-down('xs') {
       
        
      }
    }
  }
  .title{
    font-size: 4.5vh;
    margin-bottom: 2rem;
    @include breakpoint-down('md') {
      text-align: center;
   
    }
    
  }

  @media screen and (orientation: landscape) and (max-width: 767px) {
    .title{
      font-size: 8vh ;
    }
  }
  
  .aboutMe__Explain{
    font-family: var(--title-font-stack);
    
    font-weight: var(--textweight);
    font-size: 2rem;
    text-align: justify;
    line-height: 2.8rem;
    margin-bottom: 20px;
    padding-right:6rem;
    @include breakpoint-down('md') {
      padding-right:0rem;
      margin: 0 20px;
      
    }
  }