@import "/styles/abstracts/mixins";

.contentWithSidebarClosed {
  margin-left: 7.8rem;
  transform: translateX(0); /* Pas de translation à l'état fermé */
  transition: margin-left 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  will-change: transform; /* Optimisation des animations */
}

.contentWithSidebarOpen {
  margin-left: 10rem;
  transform: translateX(10px); /* Translation vers la droite */
  transition: margin-left 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  will-change: transform; /* Optimisation des animations */
}

.homeMainWithSidebarClosed {
  margin: 0 20rem 0 15rem;
  transform: translateX(0); /* Pas de translation */
  height: auto;
  transition: margin-left 0.3s ease, transform 0.3s ease;
  overflow-x: hidden; /* Empêche la barre de défilement horizontale */
  will-change: transform;
  @include breakpoint-down('sm') {
    margin: 0;
  }
}

.homeMainWithSidebarOpen {
  margin: 0 20rem 0 10rem;
  transform: translateX(100px); /* Translation vers la droite */
  height: auto;
  transition: margin-left 0.3s ease, transform 0.3s ease;
  overflow-x: hidden; /* Empêche la barre de défilement horizontale */
  will-change: transform;
  @include breakpoint-down('lg') {
    padding: 4rem;
  }
  @include breakpoint-down('md') {
    padding: 0;
  }
}


@media (max-width: 768px)  {
  .contentWithSidebarClosed {
    margin-left: 0rem;
    transition: margin-left 0.3s ease; /* Transition uniquement sur margin-left */
    transform: translateX(0);
  }

  
  .contentWithSidebarOpen {
    margin: auto;
    transition: margin-left 0.3s ease; /* Transition uniquement sur margin-left */
    transform: translateX(0);
  }

  
  .homeMainWithSidebarClosed, .homeMainWithSidebarOpen {
    margin: 0;
    height: auto;
    transition: margin 0.3s ease; /* Transition uniquement sur margin */
    overflow: hidden; /* Empêche les débordements qui pourraient affecter la hauteur */
    transform: translateX(0);
  }

}
@media screen and (orientation: landscape) and (max-width: 767px) {
  .homeMainWithSidebarOpen{
    padding: 0PX;
  }



}