@import "/styles/abstracts/mixins";
.myGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Grid with 3 columns */
  gap: 5px; /* Uniform spacing between grid items */
  max-width: 550px;
  margin: auto;
  position: relative; /* Ensure the grid container has relative positioning */
  @include breakpoint-down('xxl') {
    max-width: 40%;
  }
  @include breakpoint-down('xl') {
    max-width: 50%;

  
  }


  @include breakpoint-down('md') {
    max-width: 70%;

  
  }

  @include breakpoint-down('xs') {
    max-width: 100%;
    gap: 5px;
    padding: 0px 5px 5px 5px;
  
  }

}

.photoItem {
  position: relative; /* Make sure the container has relative positioning */
  overflow: hidden; /* Hide overflow to respect rounded corners */
  border-radius: 10px; /* Apply rounded corners */


  
  /* Fix the aspect ratio to maintain consistent dimensions */
  aspect-ratio: 1/1; /* Maintain a 1:1 ratio for square images */

  img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Ensure the height is auto to preserve aspect ratio */
    display: block;
    object-fit: cover; /* Ensure the image fills the container without stretching */
    object-position: center;
    border-radius: inherit; /* Apply the same radius as the container */
    
    transform: translateY(20px) scale(1.05) translateZ(0); /* Use translateZ to force GPU rendering */
    opacity: 0; /* Initially invisible */
    filter: blur(10px); /* Apply initial blur */
    transition: opacity 0.5s ease, transform 0.5s ease, filter 0.5s ease; /* Add smooth transitions */


  }

  &.reveal img {
    opacity: 1;
    transform: translateY(0) scale(1); /* Reset transform on reveal */
    filter: blur(0); /* Remove blur on reveal */
  }

  /* Specific rounded corners */
  &:nth-child(1) {
    border-top-left-radius: 30px;
    @include breakpoint-down('xs') {
      border-top-left-radius: 20px;
    }
  }

  &:nth-child(3) {
    border-top-right-radius: 30px;
    @include breakpoint-down('xs') {
      border-top-right-radius: 20px;
    }
  }

  &:nth-child(7) {
    border-bottom-left-radius: 30px;
    @include breakpoint-down('xs') {
      border-bottom-left-radius: 20px;
    }
  }

  &:nth-child(9) {
    border-bottom-right-radius: 30px;
    @include breakpoint-down('xs') {
      border-bottom-right-radius:  20px;
    }
  }
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 9000; /* Ensure the overlay is above other content */
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 90%;
  max-height: 90%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  overflow: auto;
  z-index: 9001; /* Ensure the content is above the overlay */
}

.modalImage__open img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}
@media screen and (orientation: landscape) and (max-width: 767px) {

  .myGrid{
    max-width: 40%;
  }

  }