.myGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Crée une grille avec 3 colonnes */
    grid-gap: 10px; /* Espace entre les éléments de la grille */
    max-width: 450px;
    margin: auto;
  }
  
  .photoItem {
    /* Ajoutez ici des styles pour les conteneurs d'images, si nécessaire */
  }
  
  .photoItem img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Cette propriété garantit que les images couvrent bien leur espace alloué sans se déformer */
  }
  