@import "../abstracts/colors";
@import "../abstracts/variables";




.menu {
    position: fixed;
    top: 0;
    padding: 20px;
    height: 357px;
    background: var(--SetupCoverSideBar);
    transform: translateY(122%);
    
    box-shadow: -5px 0 5px rgba(0,0,0,.5);
    @media (max-width: 750px) {
      width: 276px !important;
      height: 270px;
      transform: translateY(147%);
    
    }
}



.colorPalette {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 750px) {
      margin-bottom: -30px !important;
    }
}



.color {
    width: 40px;
    height: 40px;
    margin-right: 18px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: inset 0px 4px 4px rgba(0,0,0,0.3), inset 0px -2px 4px rgba(255,255,255,0.3);
    cursor: pointer;
  }

  .menu h3,
  .menu h4 {
    font-size: 18px;
    margin-bottom: 20px;

  }
  .menu h4 {
   margin-top: 20px;
    margin-bottom: 20px;

  }
  
  .menu div {
    margin-bottom: 10px;
  }
  
  .menu label {
    margin-left: 5px;
  }
  .toggle {
    
    align-items: center;
    animation: rotate 2s linear infinite;
    cursor: pointer;
    font-size: 18px;
    justify-content: center;
    transition: background-color .3s ease;

 
  }

  .themeLabel{
    position: relative;
    width: 80px;
    height: 30px;
    display: block;
    background: #d9d9d9;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.3), inset 0px -1px 4px rgba(255,255,255,0.3);
    margin-bottom: 10px;
  }
  .themeLabel:after{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    background: #f2f2f2;
    border-radius: 100px;
    top: 2px;
    left: 4px;
    transition: 1s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  }

  input:checked ~ .themeLabel:after{
    left: 75px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
  }
  input:checked ~ .themeLabel{
    background: #242424;
  }

  .background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: -1;
    transition: 1s;
  }
  input:checked + .themeLabel + .background{
    background: #242424;
  }
 .menu  input{
    display: none;
  }
  .resetButton{
  
  }
