@import "../abstracts/colors";
@import "../abstracts/variables";

.sidebar.open {
    width: 25rem;

}

.sidebar {
    position: fixed;
    left: 0;
    top: 0rem;
    height: 100vh;
    width: 7.8rem;
    background: var(--backgroundSideBar);
    padding: .6rem 1.4rem;
    transition: width 0.5s ease;
    z-index: 100;
    box-shadow: 0.5px 0 5px rgba(0,0,0,.5);
    text-align: center;
  }


  .sidebar li {
    position: relative;
    margin: .8rem 0rem;
    list-style: none;
  }

  /* Style de l'icône du logo */
.sidebar .logoDetails .icon {
    opacity: 0;
    transition: all 0.5s ease;
  
  }

.linkName {
    color:  var(--IconMenuSideBar);
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }


  .sidebar li .link:hover {
    background: var(--LinkMenuSideBar);
  }

  /* Style des noms de liens lorsque la barre latérale est ouverte */
.sidebar.open li a .linkName {
    opacity: 1;
    pointer-events: auto;
  }

  .sidebar li a:hover .linkName,
.sidebar li .link:hover i {
  transition: all 0.5s ease;
  color: var(--MenuhoverSideBar);
}

  /* Style des icônes de la barre latérale */
.sidebar li i {
    height: 5rem;
    line-height: 5rem;
    font-size: $font-sm;
    border-radius: $font-title-xx;
    color : var(--IconMenuSideBar);
    min-width: 50px;
  
    text-align: center;
   //line-height: 6rem;
    
  }

  /* Style des liens de la liste de navigation */
.sidebar li .link {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 1.2rem;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--MenuCoverSideBar);
}



  /* Style des infobulles */
.tooltip {
    position: absolute;
    top: -2rem;
    left: calc(100% + 15px);
    z-index: 3;
    background: $lightGray;
    color: $darkGrey;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    padding: .4rem .8rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
   
  }
  /* Style des infobulles au survol */
  .sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
 
  }

  /* Style des infobulles lorsque la barre latérale est ouverte */
.sidebar.open li .tooltip {
    display: none;
  }

  /* Ajout d'un caret à gauche du tooltip */
.sidebar li .tooltip:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -8px; /* distance entre le caret et le tooltip */
    margin-top: -5px; /* ajustement pour centrer le caret */
    border-top: 5px solid transparent;
    border-right: 8px solid $lightGray; /* couleur de fond du tooltip */
    border-bottom: 5px solid transparent;

  }
/* Style des inputs lorsque la barre latérale est ouverte */

.sidebar .navList {
    margin-top: 2rem;
    height: 100%;
  
}

.sidebar input {
    font-size: 15px;
    color : var(--IconMenuSideBar);
    font-weight: 400;
    outline: none;
    height: 5rem;
    width: 100%;
    width: 5rem;
    border: none;
    border-radius: 1.2rem;
    transition: all 0.5s ease;
    background: $darkGrey;
  }

  .sidebar.open .logoDetails .icon,
.sidebar.open .logoDetails .logoName {
  font-size: $font-std;
  opacity: 1;
}
/* Style du nom du logo */
.sidebar .logoDetails .logoName {
  color: var(--accent-color);
  font-size: 2.5rem;
  font-weight: 900;
  opacity: 0;
  transition: all 0.5s ease;
 
}
.sidebar .logoDetails {
    height: 6rem;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logoDetails .menuIcon{
    height: 5.5rem;
    color : var(--IconMenuSideBar);
    width: 100%;
    line-height: 5rem;
    position: absolute;
    margin-top: 6rem;
    right: 0;
    transform: translateY(-50%);
    font-size: 2.2rem;
    transition: all 0.4s ease;
    font-size: $font-md;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logoDetails .menuIcon {
    text-align: right;
  
  }
  

  .rotate {
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
  }
  
  /* Définition de l'animation de rotation */
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Style des inputs lorsque la barre latérale est ouverte */
.sidebar.open input {
    padding: 0 2rem 0 5rem;
    width: 100%;
  }



  /* Styles pour le nom du logo */
.logoName {
    border: var(--logoCercleSideBar) solid .2rem;
    background-color: var(--logoCoverSideBar);
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.setupToggle {
    animation: rotateInfinite 2s linear infinite; 
  }

  @keyframes rotateInfinite {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


  
  /* Style du profil dans la barre latérale */
  .sidebar .profile {
    width: 100%; /* Utilisez 100% pour s'adapter à la largeur de la sidebar */
    margin-bottom: 3rem;
    transition: all 0.5s ease; /* Assure une transition douce pour tous les changements */
    color: $titleColor; /* Assurez-vous que cette variable est définie */
    font-size: 15px;
    font-weight: 400;
    opacity: 0; /* Commencez avec l'opacité à 0 */
  }
  
  /* Style du profil lorsque la barre latérale est ouverte */
  .sidebar.open {
    width: 25rem; /* Largeur étendue lorsque la sidebar est ouverte */
  }
  
  .sidebar.open .profile {
    opacity: 1; /* Rendre le profil visible lorsque la sidebar est ouverte */
  }
  
  /* Style des détails du profil */
  .sidebar  .profile-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  /* Transition pour le nom et le métier du profil */
  .sidebar .profile .name,
  .sidebar .profile .job {
    transition: opacity 1s ease; /* Transition douce pour l'opacité */
    line-height: 1.8rem;
  }
  
  /* Styles pour les icônes de réseaux sociaux */
  .sidebar .navList .socialIcons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 22rem; /* Ajustez cette valeur selon la hauteur de votre sidebar */
  }
  
  .sidebar .navList .socialIcons i {
    font-size: 2rem;
    color: $titleColor;
    transition: color 0.4s ease, opacity 0.4s ease;
    opacity: 0; /* Commencez caché */
  }
  
  .sidebar.open .navList .socialIcons i {
    opacity: 1; /* Affichez les icônes lorsque la sidebar est ouverte */
    pointer-events: auto;
  }
  
  .sidebar .navList .socialIcons i:hover {
    color: var(--accent-color); /* Changez la couleur au survol */
  }
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .sidebar {
    animation: slideIn 1.5s ease-out forwards;
  }

  .topBar {
    transition: height 0.3s ease;
    /* Autres styles */
  }
  
  .topBar.visible {
    height: 50px; /* Ajustez selon vos besoins */
  }
  
  .menuIcon.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

  @media (max-width: 750px) {
    .sidebar { 
      background-color: transparent;
        width: 5rem;
       
        
    }

    .sidebar.open { 
      background: #17181B;
      transform: translateX(0);
       width: 8rem;
       
    }
    .sidebar.open li .link {
      padding: .5rem;
      transition: all 0.5s ease;
  }
    
  
.navList {
 
  display: none;

  
  }

  .sidebar.open .navList {
    display: block;
    left: 10px;
    transition: width 0.5s ease;
    }
    .sidebar li {
      margin: 1rem 0rem;
  
    }
  .sidebar li .link{
    display: flex;
    flex-direction: column;  
    background-color: transparent;

  }
  .sidebar.open li .link { 
   
    padding: .5rem; 
    }
    .sidebar li i {
      height: 2rem;
      line-height:2rem;
   
  }
    .linkName {

      font-size: 1rem;
   
    }
    
    .sidebar .logoName {
      display: none;
  }
  .sidebar .logoDetails .menuIcon {
    left: 10px;
  
  }
  .sidebar.open .logoDetails .menuIcon {
  text-align: center;
  left: 0;
  
  }

}
 