
@import "../../styles/abstracts/mixins";
.drawer {
    position: fixed;
    top: 0;
    right: -125%; /* Ajusté pour s'assurer qu'il est bien hors de l'écran */
    width: 400px;
    height: 100%;
    background: var(--SetupCoverSideBar);
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease;
    z-index: 1000;
    overflow-y: auto;

    @include breakpoint-down('xm') {
       width: 100vw; /* Utilise la largeur du viewport pour les petits écrans */
     
    }
  
    &.open {
      right: 0; /* Ouvre le drawer en le ramenant complètement à droite */
    }

    &__content {
      padding: 20px;
    }

    &__closeButton {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 28px;
      background: none;
      border: none;
      cursor: pointer;
      color: #fff;
    }
}


.drawer__Content {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.drawerImageContainer {
    width: 100%;
    height: auto;
    border-radius: 10px; /* Assure un bord arrondi pour le conteneur */
    overflow: hidden; /* Cache toute partie de l'image qui dépasse du conteneur */
    margin-bottom: 1rem;
}

.drawerImage {
    width: 100%;
    height: auto;
    object-fit: cover; /* Assure que l'image s'ajuste bien dans son conteneur */
    display: block; /* S'assure que l'image est un élément en bloc */
    border-radius: 10px; /* Applique le radius si nécessaire */
}

.fadeIn {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.fadeOut {
    opacity: 0;
    transform: translateX(-20px); /* Un léger déplacement vers la gauche pour l'effet de sortie */
    transition: opacity 0.5s ease, transform 0.5s ease;
}
