@import "../abstracts/colors";
@import "../abstracts/variables";






.side__StyledSideElement{
    bottom: 0;
    left: auto;
    position: fixed;
    right: 22px;
    width: 40px;

}



.email__StyledLinkWrapper{

}

.email__StyledLinkContainer{
    align-items: center;
    display: flex;
    flex-direction: column;

}

.email__StyledText{
    font-size: 1.8rem;
    letter-spacing: .5em;
    margin: 20px auto;
  
    padding: 10px;
    writing-mode: vertical-rl;
    color: #818181;
}

.email__StyledLinkContainer:after {
    background-color:var(--text-color);
    content: "";
    display: block;
    height: 92px;
    margin: 0 auto;
    width: 1px;

}

.email__StyledText:hover{
    color: var(--accent-color);
}

@media (max-width: 750px) {
    .side__StyledSideElement{
        display: none;
    }
}
