.technologiesList__container {
    margin: 0; /* Supprime les marges autour du composant */
    padding: 0; /* Supprime le padding */
    display: flex;
    flex-wrap: wrap;
  }
  
  .technologiesList__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem; /* Espacement entre les éléments */
    margin: 0;
    padding: 0;
    align-items: flex-start;
  }
  
  .technologiesList__item {
    margin: 0; /* Supprime toutes les marges */
    padding-left: 12px; /* Padding gauche par défaut */
    
    // Retirer le padding gauche du premier élément
    &:first-child {
      padding-left: 0;
    }
  
    // Retirer le padding droite du dernier élément
    &:last-child {
      margin-right: 0; /* Supprime l'espacement à droite */
    }
  }
  
  .technologiesList__content ul{
    display: flex;
    flex-direction: row;

  }
  
  .technologiesList__item {
    display: flex;
    flex-direction: row;
    margin: 0; /* Supprime les marges */
    padding: 0.5rem; /* Espacement interne de l'élément */
  }
  
  .technologiesList__techno {
    padding: 0.5rem 0.8rem;
    font-size: 1.2rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    display: inline-block;
  
    &:hover {
      background-color: darken(#64d8ff, 10%);
    }
  }
  