// Importations de fichiers SCSS externes (si vous avez des fichiers séparés pour mixins et variables)
@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/colors';
@import 'base/base';
@import 'base/normalize';
@import 'base/reset';
@import 'Themes/theme-retro.module.scss';
@import 'Themes/theme-dark.module.scss';


html {
  font-size: 62.5%; // Taille de police de base pour faciliter les conversions en rem
}

// Variables CSS personnalisées pour les couleurs principales
:root {
  --primary-color: #{$darkGrey};
  --secondary-color: #{$primeColorProgressBar};
  --accent-color: #{$primeColor};
}

// Variables CSS personnalisées pour les couleurs neutres
:root {
  --light-gray: #{$lightGray}; // (paragraphes)
  --very-light-gray: #{$verylightgray}; // (titres, boutons)
  --white: #{$White};
}

// Variables CSS personnalisées supplémentaires
:root {
  /* Ajoutez d'autres variables ici */
  --btn-text-color: #64d8ff;
  --btn-border-color: #64d8ff;
}
// Famille de polices
:root {
  --title-font-stack: 'Roboto', sans-serif;
  --title2-font-stack: 'Oswald', sans-serif;
}

// Famille de polices par sélecteur
h1, h2, h3, h4, h5, h6 {
  font-family: var(--title2-font-stack);
}

a, p, span, div, body {
  font-family: var(--title-font-stack);
}


// Rayon de bordure
$radius-xs: 0.4rem;
$radius-std: 1.6rem;
$radius-lg: 1.6rem;

/* La barre de défilement en entier */
::-webkit-scrollbar {
  width: 18px; /* Largeur de la barre de défilement */
}

/* La piste (la partie sur laquelle la poignée se déplace) */
::-webkit-scrollbar-track {
  background: $darkGrey; /* Couleur de fond de la piste */
}

/* La poignée (la partie que vous pouvez déplacer) */
::-webkit-scrollbar-thumb {
  background: #17181B; /* Couleur de fond de la poignée */
}

/* Au survol ou lors du clic sur la poignée */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Couleur de fond de la poignée au survol */
}
:root {
  --greenFluo-d: #00ff00;
  --pinkFluo-d: #ff00ff;
  --purpleFluo-d: #6464ff;
  --yellowFluo-d: #ffff00;

  --greenFluo-l: #008300;
    --pinkFluo-l: #ff0000;
    --purpleFluo-l: #0000ba;
    --yellowFluo-l: #ff7300;


}

:root {
  --brand-primary: rgb(138, 180, 248);
  --brand-secondary: rgb(193, 168, 226);
  --brand-alternative: rgb(136, 186, 191);
  --background-site: rgb(0, 0, 0);
  --background-code: rgb(12, 12, 12);
  --text-body: rgb(222, 222, 222);
  --text-comment: rgb(170, 170, 170);
  --text-high-contrast: rgb(230, 230, 230);
  --text-medium-contrast: rgb(202, 202, 202);
  --text-low-contrast: rgb(170, 170, 170);
  --detail-high-contrast: rgb(101, 101, 101);
  --detail-medium-contrast: rgb(25, 25, 25);
  --detail-low-contrast: rgb(21, 21, 21);
  --admonition-note: rgb(138, 180, 248);
  --admonition-warning: rgb(253, 186, 116);
  --admonition-danger: rgb(220, 38, 38);
  --brand-primary-rgb-value: 138, 180, 248;
  --brand-secondary-rgb-value: 193, 168, 226;
  --brand-alternative-rgb-value: 136, 186, 191;
  --background-site-rgb-value: 0, 0, 0;
  --background-code-rgb-value: 12, 12, 12;
  --text-body-rgb-value: 222, 222, 222;
  --text-comment-rgb-value: 170, 170, 170;
  --text-high-contrast-rgb-value: 230, 230, 230;
  --text-medium-contrast-rgb-value: 202, 202, 202;
  --text-low-contrast-rgb-value: 170, 170, 170;
  --detail-high-contrast-rgb-value: 101, 101, 101;
  --detail-medium-contrast-rgb-value: 25, 25, 25;
  --detail-low-contrast-rgb-value: 21, 21, 21;
  --admonition-note-rgb-value: 138, 180, 248;
  --admonition-warning-rgb-value: 253, 186, 116;
  --admonition-danger-rgb-value: 220, 38, 38;
}

[data-scroll-container] {
  min-height: 100vh;
}


.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.adventure{
  color: red;
}